.banner {
    position: relative;
    margin-bottom: 43px;
  }
  
  .banner img {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    filter: contrast(150%) grayscale(50%) brightness(80%);
    transform: scale(1);
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 42px;
  }
  
  .banner2 {
    position: relative;
    margin-inline: 30px;

  }
  
  .banner2 img {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    filter: contrast(150%) grayscale(50%) brightness(80%);
  }
  