.collapse-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;

  .collapse {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ff6060;
    border-radius: 15px;

    &.column-layout {
      flex-direction: column;
      width: 100%;
    }
    
    &.row-layout {
      flex-direction: row;
      width: 45%;
    }

    .collapse-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 10px;

      .collapse-title {
        color: #f6f6f6;
        font-weight: bold;
        align-items: center;
      }

      .collapse-arrow {
        color: #f6f6f6;
        font-size: 20px;
        transition: transform 0.3s;
        transform: rotate(180deg);
      }

      &.expanded .collapse-arrow {
        transform: rotate(0deg);
      }
    }

    .collapse-content {
      display: none;
      margin-top: 10px;
      padding: 10px;
      background-color: #f6f6f6;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      color: #ff6060;
    }

    &.expanded {
      .collapse-content {
        display: block;
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    .collapse {
      width: 100%;
    }
  }

  @media screen and (max-width: 992px) {
    .collapse {
      width: 100%;
    }
  }
}
