.collapse-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;

  &.about-page {
    justify-content: center;
  }

  &.appart-page {
    justify-content: space-between;
  }

  .collapse {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    background-color: #ff6060;
    border-radius: 5px;

    &.column-layout {
      flex-direction: column;
      width: 75%;
    }

    &.row-layout {
      flex-direction: column;
      width: 45%;
    }

    .collapse-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      cursor: pointer;
      padding: 10px;

      .collapse-title {
        color: #f6f6f6;
        font-weight: bold;
        align-items: center;
      }

      .collapse-arrow-container {
        margin-left: auto;
      }

      .collapse-arrow {
        width: 24px;
        height: 13px;
        &.up-arrow {
        }
        &.down-arrow {
        }
      }

      &.expanded .collapse-arrow {
        transform: rotate(180deg);
      }
    }

    .collapse-content {
      display: none;
      margin-top: 10px;
      padding: 10px;
      background-color: #f6f6f6;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #ff6060;
      flex-direction: column;
    }

    &.expanded {
      .collapse-content {
        display: flex;
        margin-top: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: flex-start;

    .collapse {
      width: 100%;
      
    }
  }

  @media screen and (max-width: 992px) {
    .collapse {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .collapse {
      width: 100%;
      flex-grow: 1;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
