.notFound {
    text-align: center;
    padding: 20px;
  }
  
  .notFound_infos {
    margin-top: 20px;
  }
  
  .notFound_infos_title {
    font-size: 48px;
    font-weight: bold;
  }
  
  .notFound_infos_content {
    font-size: 24px;
  }
  
  .notFound_infos_return {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff6060;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  