.rating {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;

  span {
    color: #ff6060;
    font-size: 24px;
    margin-right: 15px;
  }

  &:last-child {
    span {
      color: grey;
    }
  }

  @media screen and (max-width: 768px) {
    justify-content: flex-start; 
    margin-left: 0; 

    &:last-child {
      margin-top: 10px; 
    }
  }
}
